header {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: min(75px, 100px);
  background: #121212;
  color: tomato;
  padding-top: 10px;
}

header > nav.menuNav {
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 20px;
  padding-top: 10px;
}

nav.menuNav > a {
  color: #ffff;
  text-decoration: none;
}
