#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.members {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.members form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
